<!DOCTYPE html>

<title>Topic index</title>

{% block body %}
    <h1>Topic index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Body</th>
                <th>DateCreated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for topic in topics %}
            <tr>
                <td>{{ topic.id }}</td>
                <td>{{ topic.title }}</td>
                <td>{{ topic.body }}</td>
                <td>{{ topic.dateCreated ? topic.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_forum_topic_show', {'id': topic.id}) }}">show</a>
                    <a href="{{ path('app_forum_topic_edit', {'id': topic.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_forum_topic_new') }}">Create new</a>
{% endblock %}
