{% extends 'base.html.twig' %}

{% block content %}

<div class="container mb-5">
    <div class="container mt-4 mb-4 page-title">
        {{ knp_menu_render('main', {'template': 'menu/breadcrumb.html.twig'}) }}
    </div>


            <div class="col-md-12">
                <h2 class="light-header">{{ title }}</h2>

                <div class="mt-4 align-content-end">

                    <div class="row justify-content-sm-start  align-items-center">
                        {% for menuItem in menuItems %}
                        <div class="col-md-3 align-content-center">
                            <div class="dashboard-item">
                                <a href="{{ path(menuItem.path) }}">
                                    <img src="{{ asset(menuItem.icon) }}" />
                                    <br/>
                                    {{ menuItem.title }}
                                </a>
                            </div>

                        </div>
                        {% endfor %}


                    </div>
                </div>
            </div>


</div>
{% endblock %}
