{{ form_start(form) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.middleName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.email) }}
    {{ form_row(form.userRoles) }}
    <div class="px-3">
        <button class="btn-primary">{{ button_label|default('Save User Details') }}</button>
    </div>
{{ form_end(form) }}
