{{ include("main/app.flash.message.html.twig") }}
{{ form_start(form) }}
{{ form_row(form.plainPassword) }}
{{ form_row(form.password) }}
<button class="btn btn-primary">{{ button_label|default('Reset password') }}</button>
{{ form_end(form) }}