<div class="row">
    <div class="col-12">
        <a href="{{ path('app_user_accounts_user_index') }}" class="btn btn-primary mb-2 me-1"><i class="fa-solid fa-arrow-left"></i> Back to list</a>
        <a href="{{ path('app_user_accounts_user_edit', {'id': user.id}) }}" class="btn btn-warning mb-2 me-1"><i class="fa-solid fa-pen"></i> Edit Details</a>
        {% if user.accountStatus == 'A' %}
            <a href="{{ path('app_user_deactivate', {'id': user.id}) }}" class="btn btn-danger mb-2 me-1"><i class="fa-solid fa-ban"></i> Deactivate User Account</a>
        {% else %}
            <a href="{{ path('app_user_activate', {'id': user.id}) }}" class="btn btn-success mb-2 me-1"><i class="fa-solid fa-check"></i> Activate User Account</a>
        {% endif %}
    </div>
    <div class="col-md-9">
        <ul class="list-styled">
            <li class="py-3 border-b border-gray-100"><span class="font-semibold me-2">Full Name:</span>{{ user.firstName }} {{ user.middleName }} {{ user.lastName }}</li>
            <li class="py-3 border-b border-gray-100"><span class="font-semibold me-2">E-mail:</span>{{ user.email }}</li>
            <li class="py-3 border-b border-gray-100"><span class="font-semibold me-2">Roles:</span>{{ user.readableRoles }}</li>
            <li class="py-3 border-b border-gray-100"><span class="font-semibold me-2">Account Status:</span>
                {% if user.accountStatus=='A' %}
                    <span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-green-500 text-white">ACTIVE</span>
                {% elseif user.accountStatus=='B'%}
                    <span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-red-500 text-white">BLOCKED</span>
                {% endif %}
              </li>
        </ul>
    </div>
</div>